@import './variables-mixins.scss';

header {
  display: flex;  
  flex-direction: column;
  width: $desktop-width;
  margin-left: auto;
  margin-right: auto;
}

.top-header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;

  .top-right-header-section {
    display: flex;
    justify-content: center;
    align-items: center;

    & > * {
      margin: 0 10px;
      cursor: pointer;
    }

    & svg:last-child {
      margin-right: 0;
    }
  
    p {
      font-size: 18px;
      font-weight: bold;
    }
  
    svg {
      height: 25px;
      width: 25px;
  
      &.pink {
        fill: rgb(223, 135, 116);;
      }
    }
  }
  
  .top-left-header-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.bottom-header-section {
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;

  .bottom-left-header-section {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media (min-width: 1024px) {
      width: 25%;
    }

    svg {
      height: 25px;
      width: 25px;
    }

    input {
      width: -webkit-fill-available;
      font-size: 14px;
      border: none;

      &.small-input {
        @media (min-width: 1901px) {
          display: none;
        }
      }

      &.large-input {
        @media (max-width: 1900px) {
          display: none;
        }
      }
    }
  }
  
  .bottom-middle-header-section {
    height: 100%;
    width: 50%;
    display: none;
    justify-content: center;
    align-items: center;

    @media (min-width: 1024px) {
      display: flex;
    }

    svg {
      transform: rotate(180deg);
      margin-bottom: -3px;
      margin: 0 3px;
      color: $light-grey;
      height: 12px;
      width: 12px;
    }

    a {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .bottom-right-header-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 25%;

    & > p {
      margin: 0 5px;
    }
  }
}
